# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
venv/
env/

# Logs
*.log

# Environment variables
.env
.env.local
.env.*.local

# Build artifacts
*.local

# Frontend
node_modules/
dist/
dist-ssr/
